# 시계열 데이터
## 날짜, 시간

In [1]:
import pandas as pd
from datetime import datetime

now = datetime.now()
print(now)
print(type(now))
print(now.year)
print(now.month)
print(now.day)

2021-06-05 14:16:49.309265
<class 'datetime.datetime'>
2021
6
5

In [2]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
print(delta)
print(type(delta))
print(delta.days)
print(delta.seconds)

926 days, 15:45:00
<class 'datetime.timedelta'>
926
56700

In [3]:
from datetime import timedelta
start = datetime(2011, 1, 7)
print(start)
print(start + timedelta(12))
print(start - 2 * timedelta(12))

2011-01-07 00:00:00
2011-01-19 00:00:00
2010-12-14 00:00:00

In [4]:
from dateutil.parser import parse
print(type('2011-01-03'))
print(parse('2011-01-03'))
print(type(parse('2011-01-03')))

<class 'str'>
2011-01-03 00:00:00
<class 'datetime.datetime'>

In [5]:
print(parse('Jan 31, 1997 10:45 PM'))
print(parse('6/12/2011', dayfirst = True))

1997-01-31 22:45:00
2011-12-06 00:00:00

In [6]:
value = '2011-01-03'
print(type(value))

<class 'str'>

In [7]:
value2=datetime.strptime(value, '%Y-%m-%d')
print(value2)
print(type(value2))

2011-01-03 00:00:00
<class 'datetime.datetime'>

In [8]:
datestrs=['2011-07-06 12:00:00', '2011-08-06 00:00:00']
d1=pd.to_datetime(datestrs)
print(d1)
print(type(d1))

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [9]:
idx=pd.to_datetime(datestrs+[None])
print(idx)
print(idx[2])
print(pd.isnull(idx))

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)
NaT
[False False  True]

In [10]:
import numpy as np
date_strings = np.array(['03-04-2005 11:35 PM',
'23-05-2010 12:01 AM',
'04-09-2009 09:09 PM'])

In [11]:
# Timestamp 객체로 변환
[pd.to_datetime(date, format='%d-%m-%Y %I:%M %p') for date in date_strings] 
[pd.to_datetime(date, format="%d-%m-%Y %I:%M %p", errors="ignore") for date in date_strings]
pd.to_datetime(date_strings)

DatetimeIndex(['2005-03-04 23:35:00', '2010-05-23 00:01:00',
               '2009-04-09 21:09:00'],
              dtype='datetime64[ns]', freq=None)

In [12]:
from datetime import datetime
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
datetime(2011, 1, 7), datetime(2011, 1, 8),
datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
display(ts ) 
print(type(ts))
print(ts.index ) 
print(ts + ts[::2])
print(ts.index.dtype) # DatetimeIndex의 스칼라 값은 pandas의 Timestamp 객체
stamp = ts.index[0]
print(stamp)

2011-01-02    2.625942
2011-01-05    0.914933
2011-01-07    0.166588
2011-01-08    0.048898
2011-01-10   -0.109124
2011-01-12    1.386299
dtype: float64

<class 'pandas.core.series.Series'>
DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)
2011-01-02    5.251884
2011-01-05         NaN
2011-01-07    0.333176
2011-01-08         NaN
2011-01-10   -0.218248
2011-01-12         NaN
dtype: float64
datetime64[ns]
2011-01-02 00:00:00

In [13]:
from datetime import datetime
#해석할 수 있는 날짜를 문자열로 넘겨서 편리하게 사용할 수 있다. 
print( ts['1/10/2011'] )
print(ts['20110110'])
#긴 시계열에서는 년을 넘기거나, 월만 넘겨서 데이터의 일부 구간만 선택할 수도 있다. 
longer_ts = pd.Series(np.random.randn(1000),
index=pd.date_range('1/1/2000', periods=1000))
print(longer_ts)
print(longer_ts['2001'])
print(longer_ts['2001-05'])
print(ts[datetime(2011, 1, 7):])
#시계열 데이터는 연대순으로 정렬되기 때문에 범위를 지정하기 위해 
#시계열에 포함하지 않고 타임스탬프를 이용해서 Series를 나눌 수 있다
print(ts)
print(ts['1/6/2011':'1/11/2011'])

-0.10912424609733772
-0.10912424609733772
2000-01-01   -0.232353
2000-01-02   -0.719293
2000-01-03    1.529203
2000-01-04    1.070041
2000-01-05    0.087630
                ...
2002-09-22   -1.663493
2002-09-23    1.766738
2002-09-24    0.299752
2002-09-25    1.490621
2002-09-26   -1.926746
Freq: D, Length: 1000, dtype: float64
2001-01-01   -0.096058
2001-01-02    0.480746
2001-01-03   -0.149176
2001-01-04   -0.306949
2001-01-05    0.685156
                ...
2001-12-27    1.163743
2001-12-28    1.058593
2001-12-29    0.789276
2001-12-30    2.067811
2001-12-31   -0.302885
Freq: D, Length: 365, dtype: float64
2001-05-01    2.055673
2001-05-02    1.856166
2001-05-03    0.330859
2001-05-04    0.651700
2001-05-05   -0.541938
2001-05-06    2.548394
2001-05-07   -0.100714
2001-05-08    0.010056
2001-05-09   -0.489900
2001-05-10    0.374397
2001-05-11    0.113579
2001-05-12    0.278486
2001-05-13   -0.566312
2001-05-14    0.430189
2001-05-15   -0.077400
2001-05-16   -1.893973
2001-05-17    0.604031
2001-05-18   -1.649773
2001-05-19    2.044573
2001-05-20   -0.572071
2001-05-21   -0.652401
2001-05-22   -1.064116
2001-05-23   -0.639565
2001-05-24    1.450859
2001-05-25    0.015528
2001-05-26   -0.892853
2001-05-27   -1.620096
2001-05-28    0.392947
2001-05-29    0.295679
2001-05-30   -0.299470
2001-05-31    2.013463
Freq: D, dtype: float64
2011-01-07    0.166588
2011-01-08    0.048898
2011-01-10   -0.109124
2011-01-12    1.386299
dtype: float64
2011-01-02    2.625942
2011-01-05    0.914933
2011-01-07    0.166588
2011-01-08    0.048898
2011-01-10   -0.109124
2011-01-12    1.386299
dtype: float64
2011-01-07    0.166588
2011-01-08    0.048898
2011-01-10   -0.109124
dtype: float64

In [14]:
longer_ts = pd.Series(np.random.randn(1000),
index=pd.date_range('1/1/2000', periods=1000))
print(longer_ts)

2000-01-01    1.067717
2000-01-02   -0.865872
2000-01-03   -0.318640
2000-01-04   -0.878120
2000-01-05    0.219004
                ...
2002-09-22   -0.091877
2002-09-23    0.357018
2002-09-24    0.733337
2002-09-25   -0.593982
2002-09-26    1.286794
Freq: D, Length: 1000, dtype: float64

In [15]:
print(longer_ts['2001'])

2001-01-01   -0.463638
2001-01-02    0.463119
2001-01-03    0.189936
2001-01-04   -1.250186
2001-01-05   -0.366605
                ...
2001-12-27   -0.104031
2001-12-28   -0.583023
2001-12-29   -0.182649
2001-12-30   -1.679320
2001-12-31    1.371497
Freq: D, Length: 365, dtype: float64

In [16]:
print(ts[datetime(2011, 1, 7):])

2011-01-07    0.166588
2011-01-08    0.048898
2011-01-10   -0.109124
2011-01-12    1.386299
dtype: float64

In [17]:
print(ts.truncate(after='1/9/2011'))

2011-01-02    2.625942
2011-01-05    0.914933
2011-01-07    0.166588
2011-01-08    0.048898
dtype: float64

In [18]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
print(dates)

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [19]:
long_df = pd.DataFrame(np.random.randn(100, 4),
index=dates,
columns=['Colorado', 'Texas',
'New York', 'Ohio'])
print(long_df)
print(long_df.loc['5-2001'])

            Colorado     Texas  New York      Ohio
2000-01-05  0.066501  0.433747 -0.106357  0.755638
2000-01-12  0.612081 -0.186070  1.486645  0.244620
2000-01-19 -1.576646 -0.945346  0.008946 -1.058003
2000-01-26 -0.522100 -0.515302 -0.070036  2.572299
2000-02-02 -3.416916 -2.027827  1.024306  1.550611
...              ...       ...       ...       ...
2001-10-31 -0.153575  0.697572  0.282413  0.002618
2001-11-07  1.845822 -1.311661 -1.157577 -1.134409
2001-11-14 -2.031716 -0.029097  0.767022  0.905924
2001-11-21 -0.565911 -1.122431  0.333653  1.875723
2001-11-28 -0.077465  0.467312  0.598878 -0.178711

[100 rows x 4 columns]
            Colorado     Texas  New York      Ohio
2001-05-02 -0.846333 -0.943651  2.852791 -0.117869
2001-05-09 -0.021183 -1.433847 -1.213382  0.170503
2001-05-16 -1.584354 -2.203764 -1.169147  1.140565
2001-05-23 -1.358632 -0.808054 -1.058739 -1.147469
2001-05-30 -0.498418  0.326645 -1.193691  0.875117

In [20]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
print(dup_ts)

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [21]:
#is_unique 속성으로 색인 유일 여부 확인
print( dup_ts.index.is_unique )
print(dup_ts['1/3/2000'] ) # not duplicated
print(dup_ts['1/2/2000'] ) # duplicated

False
4
2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [22]:
# 유일하지 않은 타임스탬프를 가지는 데이터 집계
#groupby에 level=0(단일 단계 인덱싱)을 넘긴다
grouped = dup_ts.groupby(level=0)
grouped.mean()
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [23]:
display(ts)
resampler = ts.resample('D')
print(resampler)

2011-01-02    2.625942
2011-01-05    0.914933
2011-01-07    0.166588
2011-01-08    0.048898
2011-01-10   -0.109124
2011-01-12    1.386299
dtype: float64

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, origin=start_day]

In [24]:
print(pd.date_range(start='2012-04-01', periods=20))
print(pd.date_range(end='2012-06-01', periods=20))

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [25]:
#빈도값 BM은 각 월의 마지막 영업일을 포함
print(pd.date_range('2000-01-01', '2000-12-01', freq='BM') )

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [26]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
print(hour)

<Hour>

In [27]:
four_hours = Hour(4)
print(four_hours)
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')
#print(pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h'))
print(pd.date_range('2000-01-01', '2000-01-03 23:59', freq=four_hours))
#print(pd.date_range('2000-01-01', '2000-01-03 23:59', freq=hour))
#여러 오프셋을 덧셈으로 합칠 수 있다
print(Hour(2) + Minute(30))

<4 * Hours>
DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')
<150 * Minutes>

In [28]:
print(pd.date_range('2000-01-01', periods=10, freq='1h30min'))
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')
list(rng)

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [29]:
ts = pd.Series(np.random.randn(4),
index=pd.date_range('1/1/2000', periods=4, freq='M'))
print(ts)
print(ts.shift(2)) #날짜 범위 이동
print(ts.shift(-2))
print(ts.shift(2, freq='M'))
print(ts.shift(3, freq='D'))
print(ts.shift(1, freq='90T'))

2000-01-31   -1.300897
2000-02-29    0.813968
2000-03-31   -0.946791
2000-04-30    1.246820
Freq: M, dtype: float64
2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -1.300897
2000-04-30    0.813968
Freq: M, dtype: float64
2000-01-31   -0.946791
2000-02-29    1.246820
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64
2000-03-31   -1.300897
2000-04-30    0.813968
2000-05-31   -0.946791
2000-06-30    1.246820
Freq: M, dtype: float64
2000-02-03   -1.300897
2000-03-03    0.813968
2000-04-03   -0.946791
2000-05-03    1.246820
dtype: float64
2000-01-31 01:30:00   -1.300897
2000-02-29 01:30:00    0.813968
2000-03-31 01:30:00   -0.946791
2000-04-30 01:30:00    1.246820
dtype: float64

In [30]:
ts = pd.Series(np.random.randn(100), index=pd.date_range( "2018-1-1", periods=100, freq="D"))
print(ts.tail(20))
print(ts.resample('W').mean())
print(ts.resample('M').first())

2018-03-22   -0.863053
2018-03-23    1.205145
2018-03-24   -0.610282
2018-03-25    0.631322
2018-03-26    1.016386
2018-03-27   -0.896855
2018-03-28    1.085809
2018-03-29    0.472063
2018-03-30    0.105001
2018-03-31   -0.973753
2018-04-01    1.146924
2018-04-02   -0.027995
2018-04-03    1.415856
2018-04-04   -0.286401
2018-04-05   -1.470140
2018-04-06    1.126292
2018-04-07    0.994612
2018-04-08   -0.549843
2018-04-09   -1.350781
2018-04-10   -1.734080
Freq: D, dtype: float64
2018-01-07   -0.127041
2018-01-14    0.386277
2018-01-21   -0.463522
2018-01-28    0.223668
2018-02-04    0.721178
2018-02-11   -0.177941
2018-02-18   -0.110498
2018-02-25   -0.113302
2018-03-04   -0.400771
2018-03-11    0.371175
2018-03-18   -0.415242
2018-03-25   -0.029878
2018-04-01    0.279368
2018-04-08    0.171769
2018-04-15   -1.542431
Freq: W-SUN, dtype: float64
2018-01-31    0.394594
2018-02-28    1.521630
2018-03-31   -2.370036
2018-04-30    1.146924
Freq: M, dtype: float64

In [31]:
ts = pd.Series(np.random.randn(60), index=pd.date_range( "2018-1-1", periods=60, freq="T"))
print(ts.head(20))
#rint(ts.resample('10T').sum())
#rint(ts.resample('10T', closed="right").sum())
print(ts.resample('5T').ohlc())

2018-01-01 00:00:00   -2.293644
2018-01-01 00:01:00   -0.983750
2018-01-01 00:02:00    1.619373
2018-01-01 00:03:00    1.070567
2018-01-01 00:04:00    0.035261
2018-01-01 00:05:00   -0.369085
2018-01-01 00:06:00   -0.487087
2018-01-01 00:07:00   -0.619387
2018-01-01 00:08:00   -1.015608
2018-01-01 00:09:00   -0.806271
2018-01-01 00:10:00    0.603643
2018-01-01 00:11:00   -0.998649
2018-01-01 00:12:00    0.845128
2018-01-01 00:13:00    1.770467
2018-01-01 00:14:00    0.459902
2018-01-01 00:15:00    1.149205
2018-01-01 00:16:00    1.322572
2018-01-01 00:17:00   -0.608646
2018-01-01 00:18:00    0.282800
2018-01-01 00:19:00    1.816862
Freq: T, dtype: float64
                         open      high       low     close
2018-01-01 00:00:00 -2.293644  1.619373 -2.293644  0.035261
2018-01-01 00:05:00 -0.369085 -0.369085 -1.015608 -0.806271
2018-01-01 00:10:00  0.603643  1.770467 -0.998649  0.459902
2018-01-01 00:15:00  1.149205  1.816862 -0.608646  1.816862
2018-01-01 00:20:00  0.894319  1.339571 -1.083674 -1.052734
2018-01-01 00:25:00  0.702666  0.702666 -1.108490  0.039253
2018-01-01 00:30:00 -0.177503  0.980332 -0.677908 -0.624258
2018-01-01 00:35:00 -2.107629  1.720101 -2.107629  0.350859
2018-01-01 00:40:00  0.025008  1.668209 -0.459428  1.668209
2018-01-01 00:45:00 -0.947353  0.534270 -0.947353  0.121842
2018-01-01 00:50:00 -0.252637  1.130593 -1.467496  1.130593
2018-01-01 00:55:00  0.176383  1.856600  0.104562  0.104562

In [32]:
print(ts.resample('30s').ffill().head(20))
print(ts.resample('30s').bfill().head(20))

2018-01-01 00:00:00   -2.293644
2018-01-01 00:00:30   -2.293644
2018-01-01 00:01:00   -0.983750
2018-01-01 00:01:30   -0.983750
2018-01-01 00:02:00    1.619373
2018-01-01 00:02:30    1.619373
2018-01-01 00:03:00    1.070567
2018-01-01 00:03:30    1.070567
2018-01-01 00:04:00    0.035261
2018-01-01 00:04:30    0.035261
2018-01-01 00:05:00   -0.369085
2018-01-01 00:05:30   -0.369085
2018-01-01 00:06:00   -0.487087
2018-01-01 00:06:30   -0.487087
2018-01-01 00:07:00   -0.619387
2018-01-01 00:07:30   -0.619387
2018-01-01 00:08:00   -1.015608
2018-01-01 00:08:30   -1.015608
2018-01-01 00:09:00   -0.806271
2018-01-01 00:09:30   -0.806271
Freq: 30S, dtype: float64
2018-01-01 00:00:00   -2.293644
2018-01-01 00:00:30   -0.983750
2018-01-01 00:01:00   -0.983750
2018-01-01 00:01:30    1.619373
2018-01-01 00:02:00    1.619373
2018-01-01 00:02:30    1.070567
2018-01-01 00:03:00    1.070567
2018-01-01 00:03:30    0.035261
2018-01-01 00:04:00    0.035261
2018-01-01 00:04:30   -0.369085
2018-01-01 00:05:00   -0.369085
2018-01-01 00:05:30   -0.487087
2018-01-01 00:06:00   -0.487087
2018-01-01 00:06:30   -0.619387
2018-01-01 00:07:00   -0.619387
2018-01-01 00:07:30   -1.015608
2018-01-01 00:08:00   -1.015608
2018-01-01 00:08:30   -0.806271
2018-01-01 00:09:00   -0.806271
2018-01-01 00:09:30    0.603643
Freq: 30S, dtype: float64

In [33]:
s = pd.Series(pd.date_range("2020-12-25", periods=100, freq="D"))
#print(s)
print(s.dt.year)
print(s.dt.weekday)
#strftime() - 문자열을 만듬
print(s.dt.strftime("%Y년 %m월 %d일"))

0     2020
1     2020
2     2020
3     2020
4     2020
      ...
95    2021
96    2021
97    2021
98    2021
99    2021
Length: 100, dtype: int64
0     4
1     5
2     6
3     0
4     1
     ..
95    1
96    2
97    3
98    4
99    5
Length: 100, dtype: int64
0     2020-12-25 00:00:00
1     2020-12-26 00:00:00
2     2020-12-27 00:00:00
3     2020-12-28 00:00:00
4     2020-12-29 00:00:00
             ...
95    2021-03-30 00:00:00
96    2021-03-31 00:00:00
97    2021-04-01 00:00:00
98    2021-04-02 00:00:00
99    2021-04-03 00:00:00
Length: 100, dtype: object

In [34]:
time_index = pd.date_range("01/01/2010", periods=5, freq="M")
dataframe = pd.DataFrame(index=time_index) # 데이터프레임을 만들고 인덱스를 지정
dataframe["Sales"] = [1.0,2.0,np.nan,np.nan,5.0] # 누락된 값이 있는 특성을 만듦
print(dataframe)
#print(dataframe.interpolate()) # 누락된 값을 보간
#print(dataframe.ffill()) # 앞쪽으로 채우기(Forward-fill)
#print(dataframe.bfill()) # 뒤쪽으로 채우기(Back-fill)
#print(dataframe.interpolate(method="quadratic")) # 비선형의 경우 보간 방법 변경
print(dataframe.interpolate(limit=1, limit_direction="forward")) #보간 방향

            Sales
2010-01-31    1.0
2010-02-28    2.0
2010-03-31    NaN
2010-04-30    NaN
2010-05-31    5.0
            Sales
2010-01-31    1.0
2010-02-28    2.0
2010-03-31    3.0
2010-04-30    NaN
2010-05-31    5.0

In [35]:
import pandas as pd
# datetime을 만듭니다. 
time_index = pd.date_range("01/01/2010", periods=5, freq="M") 
# 데이터프레임을 만들고 인덱스를 설정합니다. 
dataframe = pd.DataFrame(index=time_index)

dataframe["Stock_Price"] = [1,2,3,4,5] # 특성을 만듭니다. 
print(dataframe)
print(dataframe.rolling(window=2).mean()) # 이동 평균을 계산

print(dataframe.ewm(alpha=0.5).mean())

            Stock_Price
2010-01-31            1
2010-02-28            2
2010-03-31            3
2010-04-30            4
2010-05-31            5
            Stock_Price
2010-01-31          NaN
2010-02-28          1.5
2010-03-31          2.5
2010-04-30          3.5
2010-05-31          4.5
            Stock_Price
2010-01-31     1.000000
2010-02-28     1.666667
2010-03-31     2.428571
2010-04-30     3.266667
2010-05-31     4.161290