# 표현식

In [1]:
print((3.14 == 314e-2))

True

In [3]:
import sys
print(sys.int_info)
print(sys.float_info)
a = 10 ** 3300
print(a.bit_length())

print("max", sys.float_info.max)
print("min", sys.float_info.min)

sys.int_info(bits_per_digit=30, sizeof_digit=4)
sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)
10963
max 1.7976931348623157e+308
min 2.2250738585072014e-308

In [5]:
a = "py"
c = a + 3

TypeError: can only concatenate str (not "int") to str

In [2]:
vari = 10
varb = 10
print(vari is varb)
print(vari == varb)
print(id(vari), id(varb))

vari = 1000
varb = 1000
print(vari is varb)
print(vari == varb)
print(id(vari), id(varb))

True
True
140728037188288 140728037188288
False
True
2244856668368 2244856668560

In [6]:
def func():
    pass
a = func()
print(a)

None

In [7]:
a = 3
b = 5
print(a & b)
print(a | b)
print(a ^ b)

1
7
6

In [8]:
print(~a)
print( a << 3)

-4
24

In [9]:
a = 3
print(~a)
print( a << 3)

-4
24

In [10]:
print(a<<3)

24

In [11]:
c = 256
print(c >> 3)

32

In [12]:
a = 3
print(a << 5)

96

In [13]:
a = "TEAMLAB MOOC, AWESOME Python"
print(a[0:6], "AND", a[-9:])

print(a[:])

print(a[-50:50])

print(a[::2], "AND", a[::-1])

TEAMLA AND ME Python
TEAMLAB MOOC, AWESOME Python
TEAMLAB MOOC, AWESOME Python
TALBMO,AEOEPto AND nohtyP EMOSEWA ,COOM BALMAET

In [14]:
a = "hello world"
print(len(a))
print(a.upper())
print(a.title())
print(a.capitalize())
print(a.find("o"))
print(a.count("o"))
print(a.find("o"))
print(a.rfind("o"))

11
HELLO WORLD
Hello World
Hello world
4
2
4
7

In [15]:
a = "Hello world"
print(a.startswith("H"))
print(a.startswith("h"))

True
False

In [16]:
b = "  hello  world  "
print(b.strip())
print(len(b), len(b.strip()))
print(b.split())

c = "  hello | world  "
print(c.split("|"))

hello  world
16 12
['hello', 'world']
['  hello ', ' world  ']

In [17]:
s = "._."
print(s.join("대한민국"))

대._.한._.민._.국

In [18]:
s = "짜장 짬뽕 탕슉"
print(s.split())

['짜장', '짬뽕', '탕슉']

In [19]:
s2 = "서울->대전->대구->부산"
city = s2.split("->")
print(city)
for c in city:
    print(c, "찍고", end = ' ')

['서울', '대전', '대구', '부산']
서울 찍고 대전 찍고 대구 찍고 부산 찍고

In [20]:
traveler = """강나루 건너서\n밀밭 길을 \n\n구름에 달 가듯이\n가는 나그네\n
길은 외줄기\n남도 삼백리 \n\n술 익는 마을마다\n타는 저녁놀\n
구름에 달 가듯이\n가는 나그네"""
poet = traveler.splitlines()
for line in poet:
    print(line.center(30))

           강나루 건너서
            밀밭 길을

          구름에 달 가듯이
            가는 나그네

            길은 외줄기
           남도 삼백리

          술 익는 마을마다
            타는 저녁놀

          구름에 달 가듯이
            가는 나그네

In [21]:
print(poet)

['강나루 건너서', '밀밭 길을 ', '', '구름에 달 가듯이', '가는 나그네', '', '길은 외줄기', '남도 삼백리 ', '', '술 익는 마을마다', '타는 저녁놀', '', '구름에 달 가듯이', '가는 나그네']

# 정규표현식

In [22]:
print('%d %o %x' % (30, 30, 30))

30 36 1e

In [23]:
print('{:x}, {:X}'.format(10,10))

a, A

In [24]:
a = "%r, %r" % ("가을", "동화")
print( type( a ), a )
print( eval( a ) )

<class 'str'> '가을', '동화'
('가을', '동화')

In [25]:
a = "%r, %r" % ("가을", "동화")
print( type( a ), a )
result = eval(a)
print( result, type(result))

<class 'str'> '가을', '동화'
('가을', '동화') <class 'tuple'>

In [26]:
a= "{!s}, {!s}".format(str(100), str(99.99) )
print( type( a ), a )
print( eval( a ) )

<class 'str'> 100, 99.99
(100, 99.99)

# 문자 검색 및 카운팅

In [31]:
f = open("C:/workspace/basic/yesterday.txt", 'r')
yesterday_lyric = f.readlines()
f.close()

In [36]:
f = open("C:/workspace/basic/yesterday.txt", 'r')
contents = f.read()
print(type(f))
#print(contents)
print(type(contents))
f.close()
print(contents.count('Yesterday'))
print(contents.count('yesterday'))

<class '_io.TextIOWrapper'>
<class 'str'>
3
6

In [38]:
f = open("C:/workspace/basic/yesterday.txt", 'r')
lyrics = f.read()
print(lyrics.count('yesterday'))
print(lyrics.count('Yesterday'))

6
3

In [39]:
f = open('C:/workspace/basic/yesterday.txt', 'r')
contents = f.readlines()
cnt = 0
for word in contents:
    cnt += word.lower().count('yesterday')
    
print('Number of Word Yesterday ', cnt)

Number of Word Yesterday  9

# input으로 입력 받은 숫자 연산

In [40]:
a = int(input("1~100사이의 정수를 입력하세요: "))
if a % 2 == 0:
    print(str(a) + '는 짝수입니다')
else:
    print(str(a) + '는 홀수입니다')

1~100사이의 정수를 입력하세요: 4
4는 짝수입니다

In [41]:
a = int(input("Enter your score: "))
if a <= 100 and a >= 90:
    print("A")
elif a >= 80:
    print("B")
elif a >= 70:
    print("C")
elif a >= 60:
    print("D")
else:
    print("F")

Enter your score: 59
F

In [42]:
a = int(input('정수 1의 값을 입력하세요 : '))
b = int(input('정수 2의 값을 입력하세요 : '))
c = input('연산자(+, -, *, //)를 입력하세요 : ')

if c == '+':
    print(a + b)
elif c == '-':
    print(a - b)
elif c == '*':
    print(a * b)
elif c == '//':
    print(a // b)

정수 1의 값을 입력하세요 : 100
정수 2의 값을 입력하세요 : 3
연산자(+, -, *, //)를 입력하세요 : -
97

In [43]:
a = input('문자열을 입력하세요 : ')
print(a[::-1])

문자열을 입력하세요 : Hello World
dlroW olleH

In [44]:
a = int(input('동전으로 교환할 금액을 입력하세요 : '))

print('500원', int(a/500),'개')
a %= 500
print('100원', int(a/100),'개')
a %= 100
print('50원', int(a/50),'개')
a %= 50
print('10원', int(a/10),'개')

동전으로 교환할 금액을 입력하세요 : 5400
500원 10 개
100원 4 개
50원 0 개
10원 0 개

In [45]:
print("동전으로 교환할 금액을 입력하시오:")
num = int(input())
a = (num//500)
b = (num%500)//100
c = (num%100)//50
d = (num%50)//10
print("500원 %d개, 100원 %d개, 50원 %d개, 10원 %d개"%(a,b,c,d))

동전으로 교환할 금액을 입력하시오:
6780
500원 13개, 100원 2개, 50원 1개, 10원 3개

In [46]:
hap = 0
for i in range(1, 11):
    hap = hap + i
    
print(hap)

55

In [47]:
num = int(input('정수를 입력하세요'))
end = (num + 1) // 2
for n in range(2, end):
    if num % n == 0:
        print(num, " is Not Prime Number")
        break;
else:
    print(num, " is Prime Number")

정수를 입력하세요17
17  is Prime Number

In [48]:
cnt = 2 #소수의 개수를 저장할 변수 선언
for num in range(2, 100): #소수 찾을 정수 범위 2~100 수행
    #소수 판단 로직
    for n in range(2, round(num/2)):
        if num % n == 0:
            break
    else:
        print(num, end = " ")
        cnt = cnt + 1
else:
    print("\n1~100사이의 소수의 개수는 ", cnt)

2 3 4 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97
1~100사이의 소수의 개수는  28